body{
  background: url('math.png');
  background-size: cover;
  font-family:'Tangerine';
}
.wrap{
  max-width: 350px;
  border-radius: 20px;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 40px;
  color:#fff;
  margin-top: 100px;
  font-family: 'Tangerine';
}
@media screen and (max-width:959px){
  .wrap{
    width: 50%;
  }
}
@media screen and (max-width:680px){
.wrap{
  width: 280px;
}
}
h2{
  text-align: center;
  font-size: 27px;
  font-family: 'Tangerine';
}
input[type=text],input[type=password]{
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 0.10);
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  font-family: 'Tangerine';
}
input[type=number],input[type=number]{
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 0.10);
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  font-family: 'Tangerine';
}
.btn{
  width: 100%;
 /* box-sizing: border-box;*/
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #60adde;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  font-family: 'Tangerine';
  transition: 0.3s;
}
.btn:hover {
  background-color: #00FFFF;
  color: white;
}
